// Overlay 

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  img {
    border-radius: $base-border-radius;
  }

  .image-title {
    color: $white;
    margin: $base-spacing 0;
  }

  p {
    color: $white;
  }
}

// Caroussel 

.close {
  background-color: transparent;
  height: 36px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: $base-spacing;
  text-indent: 100%;
  top: $small-spacing;
  width: 36px;

  &:hover {
    background-color: transparent;
  }

  &::before,
  &::after {
    background: $white;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }
}

.close::before {
  @include transform(rotate(45deg));
}

.close::after {
  @include transform(rotate(-45deg));
}

#caroussel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image-container img {
  border: 10px solid darken($base-background-color, 5%);
  margin: 0 $base-spacing * 2;
  margin-bottom: 0;
}
