$header-height: 5em;
$navigation-link-font-size: $h5-font-size;

.header {
  background: #eecfaf; //  marron moyen #ECDBC9 #d2b48c #cb9259
  border-bottom: 2px solid #685678; // violet du h5
  height: $header-height;
  margin-bottom: $base-spacing * 3;
}

.logo {
  float: left;

  h1,
  h2 {
    margin: 0;
    line-height: 1.2;
  }

  h1 {
    font-family: $base-font-family;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }
}

.navigation {
  padding-top: ($header-height - ($navigation-link-font-size * $base-line-height)) / 2;
  float: right;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    color: $base-font-color;
    font-family: $heading-font-family;
    font-size: $navigation-link-font-size;
    font-weight: bold;
    margin-left: 1.5em;

    &:hover, &.selected {
      color: $base-a-color;
    }
  }
}
