ul#imageGallery {
  display: block;
  text-align: center;
} 

ul#imageGallery li {
  background: $white;
  display: inline-block;
  margin: 10px;
  padding: 8px;
}

ul#imageGallery li img  {
  display: block;
}

ul#imageGallery a {
  text-decoration: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position:fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

#overlay img {
  margin-top: 10%;
}

#overlay p {
  color: $white;
}
