ul#imageGallery {
  display: block;
  text-align: center;
} 

ul#imageGallery li {
  background: $white;
  display: inline-block;
  margin: 10px;
  padding: 8px;
}

ul#imageGallery li img  {
  display: block;
}

ul#imageGallery a {
  text-decoration: none;
}

// Overlay 

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  left: 0;
  position:fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

#overlay img {
  border-radius: $base-border-radius;
  // margin-bottom: $base-spacing;
}

#overlay h3 {
  color: $white;
  margin: $base-spacing 0;
}

#overlay p {
  color: $white;
}

// Caroussel 

.close {
  float: right;
  position: absolute;
  right: $base-spacing;
  top: $small-spacing;
}

#caroussel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image-container img {
  border: 10px solid $white;
  margin: 0 $base-spacing*2;
  margin-bottom: 0;
}
