/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 $base-spacing 0;
}



/**********************************
HEADING
***********************************/

header {
  margin: 0 0 $base-spacing 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: normal;
  margin: $small-spacing/2 0;
  line-height: 0.8em;
}


/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: $dark-gray;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: INDEX - Nos realisations
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  margin: 2.5%;
  background-color: #f5f5f5;
	text-align: center;
  border-radius: $base-border-radius;
  weight : 400px;
  height : 285px;
}

#gallery img {
  max-width: 90%;

}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: $base-font-size;
  color: #685678;
}

#gallery p {
  border-top : $base-border;
  }

.contentSection {
  padding-top : $base-spacing * 2;

}

h2 {
  border-bottom: $base-border;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: $small-spacing;
}

/**********************************
PAGE: ABOUT - Notre entreprise
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}



/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}



/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #f4eee8;
  color: #2f1b07;
}

/* purple header */
header {
  background: #ECDBC9;
  border-color: #685678;
}

/* nav background on mobile */
nav {
  background: #2f1b07;
}

/* logo text */
h1, h2 {
  color: #2f1b07;
}

/* links */
a {
  color: #42374b;
}

/* nav link */
nav a, nav a:visited {
  color: #2f1b07;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #2f1b07;
}
