/**********************************
PAGE: INDEX - Vignettes
***********************************/

.introduction {
  p {
    font-size: $h5-font-size;
  }
}

.section-header {
  margin-top: $base-spacing;
}

.gallery {
  li {
    @include span-columns(4);
    @include omega(3n);

    margin-top: $base-spacing;
    text-align: center;
  }

  figcaption {
    font-size: $h5-font-size;
  }
}

/**********************************
PAGE: Contact
***********************************/

h5 {
  margin-left: 0;
}

p {
  margin-bottom: $base-spacing;
}

textarea{
  margin-bottom: $base-spacing * 2;
}

.contact-info {
  list-style: none;
  padding: 0;

  a {
    align-items: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    display: flex;
    justify-content: left;
    margin: 0 0 10px;
    min-height: 60px;
    padding: 0 0 0 60px;
  }

  li.phone a {
    background-image: url('../images/phone.png');
  }

  li.mail a {
    background-image: url('../images/mail.png');
  }

}

@media screen and (min-width: 580px) {
  #primary {
    width: 50%;
    float: left;
  }
 #secondary {
    width: 40%;
    float: right;
  }

}
