/**********************************
PAGE: INDEX - Nos realisations
***********************************/

#gallery {
  list-style: none;
  margin: 0;
  padding: 0; 
}

#gallery li {
  
  background-color: #f5f5f5;
  border-radius: $base-border-radius;
  height : 285px;
  margin: 2.5%;
  text-align: center;
  weight : 400px;
}

#gallery img {
  max-width: 90%;

}

#gallery li a p {
  color: #685678;
  font-size: $base-font-size;    
  margin: 0;
  padding: 5%;
}

#gallery p {
  border-top : $base-border;
  }

.contentSection {
  padding-top : $base-spacing * 2;
}

h2 {
  border-bottom: $base-border;
  box-sizing: border-box;
  padding-bottom: $small-spacing;
  text-align: center;
}

/**********************************
PAGE: ABOUT - Notre entreprise
***********************************/

h5 {
  margin-bottom: $base-spacing;
}

p {
  font-size: $h5-font-size;
  margin-bottom: $base-spacing;
}

.send {
  margin-top: $base-spacing;
}

.contact-info {
  font-size: $base-font-size;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info a {
  align-items: center; 
  background-repeat: no-repeat;
  background-size: 60px 60px;
  display: flex;  
  justify-content: left;
  margin: 0 0 10px;
  min-height: 60px;
  padding: 0 0 0 60px; 
}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
}

.contact-info li.mail a {
  background-image: url('../images/mail.png');
}

