@media screen and (min-width: 580px) {
  
  /************************
  TWO COLOMN LAYOUT
  *************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  /************************
  THREE COLOMN LAYOUT
  3 images de 5 de marge (2,5 *2) = 15
  100 - 15 = 85
  85/ 3 colonnes = 28,3333
  *************************/
  
  #gallery li {
    float: left;
    width: 42%;
  }
  
  #gallery li:nth-child(3n) {
    clear:left;
  }
  
}

@media screen and (min-width: 880px) {
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}


@media screen and (min-width: 1220px) {
  

  /************************
  HEADER
  *************************/
  
  nav {
    background:none;
    float:right;
    font-size: 1.25em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo { 
    float:left;
    font-size: 1.25em;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825;
    margin-bottom: 20px;
  }
  
  header {
    float:left;
    border-bottom: 5px solid #42374b;
    margin-bottom:60px;
  }
  
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(3n) {
    clear:none;
  } 
  
  
  #gallery li:nth-child(4n) {
    clear:left;
  }   
}
