<div id="wrapper">
	<section>
		<img src="img/grosberty.jpg" alt="carte postale site grosberty" class="profile-photo">
		<h3> Cholvy et Lambert en quelques lignes...</h3>
		<p> Créé en 2010, nous réalisons des chantiers de menuiserie, mais également de taille de pierre et aérogommage. Notre spécialité est la rénovation des bâtiments historiques.</p>
		<p> Voici quelques unes de nos réalisations : </p>
		<ul>
			<li> Restauration de meubles</li>
			<li> Création d'espaces sur mesure (bibliothèque, cuisine, poolhouse...)</li>
			<li> Sablage, aérogommage</li>
			<li> Taille de pierres et divers travaux de maçonnerie</li>
		</ul>
	</section>
</div>