<section>
  <h2 class="section-header">Cholvy et Lambert en quelques lignes...</h2>
  <p class="introduction">Créé en 2010, nous réalisons des chantiers de menuiserie, mais également de taille de pierre et aérogommage. <br>Notre spécialité est la rénovation des bâtiments historiques.</p>
</section>

<section>
  <h2 class="section-header">Galerie d'images </h2>
  
  <% photos = [
    {filename: 'ecorce.jpg', title: 'Ecorce 0', 'data-index': 0},
    {filename: 'ecorce.jpg', title: 'Ecorce 1', 'data-index': 1},
    {filename: 'ecorce.jpg', title: 'Ecorce 2', 'data-index': 2},
    {filename: 'ecorce.jpg', title: 'Ecorce 3', 'data-index': 3},
    {filename: 'ecorce.jpg', title: 'Ecorce 4', 'data-index': 4},
    {filename: 'ecorce.jpg', title: 'Ecorce 5', 'data-index': 5},
    {filename: 'ecorce.jpg', title: 'Ecorce 6', 'data-index': 6},
    {filename: 'ecorce.jpg', title: 'Ecorce 7', 'data-index': 7},
    {filename: 'ecorce.jpg', title: 'Ecorce 8', 'data-index': 8}
  ] %>

  <ul class="gallery js-gallery">
    <% photos.each do |photo| %>
      <li><%= image_tag photo[:filename], alt: photo[:title], 'data-index': photo[:'data-index'] %></li>
    <% end %>
  </ul>
</section>

<div id="overlay">
  <button class="close" title="Close"></button>
  <h3 class="image-title js-image-title"></h3>
  <div id="caroussel">
    <button class="previous">Précedent</button>
    <div class="image-container"></div>
    <button class="next">Suivant</button>
  </div>
</div>
