<div id="wrapper">
	<section>
		<h3> Restauration de meubles </h3>
		<p> Si vous souhaitez effectuer un coup de mieux sur un ancien meuble, nous pouvons le faire tout en respectant son cachet d'origine.</p>
		<p> Voici quelques unes de nos réalisations : </p>

	</section>
	<section>
		<p> Pour plus d'informations, n'hésitez pas à nous contacter</p>
		
	</section>
</div>
